.RootTwittList {
    display: flex;
    flex-direction: column;
}

.TwittList {
    background-color: white;
    margin-top: 0.5rem;
}

.ImageNameId {
    padding: 1.5rem 1rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.NameTwitt {
    font-size: 0.9rem;
    padding-right: 0.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.IdTwitt {
    font-size: 0.8rem;
    color: gray;
    direction: ltr;
    line-height: 1.7rem;
}

.TextTwitt {
    padding: 0 6.5rem 1rem 2rem;
    text-align: justify;
}

.Imagetwitt {
    border: 2px solid transparent;
    border-radius: 50%;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    margin-right: 1rem;
}

.Imagetwitt img {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
}

.TwittListButton {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 1.5rem 0 1rem 1.5rem;
    gap: 0.5rem;
    align-items: center;
}

.ReTwitt {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    overflow: hidden;
}

.LikeTwitt {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
}

.IconHeart {
    font-size: 1rem;
    height: 1rem;
    color: gray;
    background-color: white;
}

.IconRepost {
    font-size: 1.5rem;
    height: 1.5rem;
    color: gray;
    background-color: white;
}

.Likecounter {
    font-size: 0.85rem;
    color: gray;
}