.LeftSidebarBody {
    width: 25%;
    height: 100vh;
    padding: 1.5rem 1rem 0 1rem;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.UserInformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
}

.NameAndId {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 0.25rem;
}

.Id {
    color: gray;
    font-size: 0.9rem;
}

.UserImage {
    border: 2px solid RGB(29, 161, 242, 0.5);
    border-radius: 50%;
    position: relative;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    margin-right: 1rem;
}

.UserImage img {
    width: 4rem;
    height: 4rem;
    position: absolute;
}

.ItemMenu {
    justify-content: center;
}

.Reporters {
    width: 90%;
    border-radius: 2rem;
    background-color: RGB(29, 161, 242, 0.1);
    display: flex;
    flex-direction: column;
}

.ReportersTitr {
    font-size: 1.2rem;
    padding: 1rem 1.5rem 1rem 0;
    font-weight: bold;
}

.ReportersList {
    border: none;
    border-top: 1px solid RGB(29, 161, 242, 0.3);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: transparent;
}

.ReportersList:hover {
    background-color: RGB(29, 161, 242, 0.5);
}

.ReportersList:focus {
    background-color: RGB(29, 161, 242, 0.5);
}

.ReportersImage {
    align-items: center;
    display: flex;
    border: 2px solid transparent;
    border-radius: 50%;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    margin: 0 1rem;
}

.ReportersImage img {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
}

.RNameAndId {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 0.25rem;
    text-decoration: none;
}

.RId {
    color: gray;
    font-size: 0.9rem;
    direction: ltr;
}

a {
    text-decoration: none;
}