.LoginBody {
    width: 30%;
    margin: 5rem auto;
    border: 0.15rem solid RGB(29, 161, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.LoginForm,
.RegisterForm {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 0 1.5rem;
}

label {
    font-size: 1rem;
    margin: 1.25rem 0 0.5rem 0;
}

input {
    border: 0;
    border-bottom: 0.10rem solid rgb(194, 194, 194);
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.Button {
    display: flex;
    flex-direction: row-reverse;
}

.Login,
.Register {
    margin: 3rem 0;
    width: 8rem;
    height: 2.25rem;
    border-radius: 1.5rem;
    direction: rtl;
    font-size: 1.2rem;
    color: white;
    background-color: RGB(29, 161, 242);
    font-weight: bold;
}