.RootHeader {
    padding: 1.5rem 1rem 1.5rem 0;
    height: 1rem;
    background-color: white;
    border-bottom: 1px solid RGB(29, 161, 242, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.Icon {
    font-size: 1.25rem;
    color: RGB(29, 161, 242);
    line-height: 1rem;
}

.TitrHeader {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}