.UserRoot {
    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
}

.UserData {
    display: flex;
    flex-direction: column;
}

.Images {
    height: 20rem;
}

.CoverImage {
    width: 100%;
    height: 18rem;
    overflow: hidden;
}

.CoverImage img {
    width: 100%;
}

.ProfileImage {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border: 0.35rem solid white;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 13rem;
}

.ProfileImage img {
    width: 8rem;
    height: 8rem;
}

.Edit-Profile {
    width: 8rem;
    height: 2.25rem;
    position: absolute;
    left: 2rem;
    top: 19rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    border: 1px solid RGB(29, 161, 242, 0.5);
    background-color: white;
}

.Edit-Profile:hover {
    background-color: rgb(214, 214, 214);
}

.UserName-Id {
    display: flex;
    flex-direction: column;
    margin-right: 1.75rem;
    gap: 0.5rem;
    padding-top: 2rem;
}

.User-Name {
    font-size: 1.5rem;
    font-weight: bold;
}

.Id-Name {
    font-size: 1.1rem;
    font-weight: bold;
    color: gray;
}

.StartDate {
    margin: 0.5rem 1.75rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    font-size: 0.9rem;
}

.Follower {
    margin: 0.5rem 1.75rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.Posts {
    padding-right: .75rem;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-top: 2rem;
}

.PostTitr {
    width: 11rem;
    list-style-type: none;
    padding: 0 0 0.9rem 0;
    border-bottom: 0.5rem solid RGB(29, 161, 242);
    text-align: center;
    margin: 0;
    user-select: none;
}