body {
    padding: 0;
    margin: 0;
    font-family: 'Shabnam';
}

@font-face {
    font-family: 'Shabnam';
    src: url(./Font/Shabnam-FD.ttf);
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}