.RootNewTwitt {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 12rem;
}

.textNewTwitt {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1rem 0 0;
    gap: 1rem;
}

.ImageNewTwitt {
    border: 2px solid transparent;
    border-radius: 50%;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    margin-right: 1rem;
}

.ImageNewTwitt img {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
}

.NewTwitt {
    width: 80%;
    border: none;
}

.NewTwitt:hover,
.NewTwitt:focus {
    outline: none;
}

.NewTwitt::placeholder {
    font-size: 1rem;
    color: gray;
    border: none;
    font-family: "Shabnam";
}

.AllButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.5rem 0 1.5rem 1.5rem;
    gap: 0.5rem;
    align-items: center;
}

.LoadingImage {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: white;
}

.LoadIcon {
    font-size: 1rem;
    height: 1rem;
    color: red;
    background-color: white;
}

.Twitt {
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    color: white;
    background-color: RGB(29, 161, 242);
    border-color: RGB(29, 161, 242, 0.5);
}