.Page404Root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.Body404 {
    width: 45rem;
    height: 30rem;
    margin: auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.Body404 img {
    width: 20rem;
    height: 20rem;
}

.Body404 h1 {
    font-size: 15rem;
    color: RGB(29, 161, 242);
}