.PageRoot {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.UserInfo {
    display: flex;
    flex-direction: column;
}

.Image {
    height: 20rem;
}

.ImageCover {
    width: 100%;
    height: 16rem;
    overflow: hidden;
}

.ImageCover img {
    width: 100%;
}

.ImageProfile {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border: 0.35rem solid white;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 11.5rem;
}

.ImageProfile img {
    width: 8rem;
    height: 8rem;
}

.EditProfile {
    width: 8rem;
    height: 2.25rem;
    position: absolute;
    left: 2rem;
    top: 17rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    border: 1px solid RGB(29, 161, 242, 0.5);
    background-color: white;
}

.EditProfile:hover {
    background-color: rgb(214, 214, 214);
}

.UserNameId {
    display: flex;
    flex-direction: column;
    margin-right: 1.75rem;
}

.UserName {
    font-size: 1.5rem;
    font-weight: bold;
}

.IdName {
    font-size: 1.1rem;
    font-weight: bold;
    color: gray;
}

.StartDate {
    margin: 0.5rem 1.75rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    font-size: 0.9rem;
}

.Follower {
    margin: 0.5rem 1.75rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}