.RightSideBarBody {
    width: 20%;
    height: 100vh;
}

.LogoTwitter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 1.5rem 1rem 2.5rem 0;
    cursor: pointer;
}

.Logo {
    width: 4rem;
    height: 4rem;
}

.Titr {
    font-size: 1.5rem;
    font-weight: bold;
    color: RGB(29, 161, 242);
}

.HashtagsList {
    margin: 0 1rem 0 0;
}

.HashtagsTitr {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.HashtagsImage {
    width: 2.5rem;
    height: 2.5rem;
    padding-right: 0.5rem;
}

.List {
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 95%;
    background-color: white;
    border: 0;
}

.List:hover {
    background-color: rgb(223, 221, 221);
}

.List:focus {
    background-color: rgb(202, 202, 202);
}

.HashtagsText {
    font-size: 1.3rem;
}